<!DOCTYPE >
<html>
<head>
  <title></title>
</head>
  <body>
  
    <div class="col-md-3" id="menu">
      <h1> Menu </h1>
        <h4> Click Item to Order</h4>

          <table style="width:100%">
          <%@menu.items.each do |item, price|%>
            <tr>
              <td><%="#{item}"%></td>
              <td><%=price%></td>
              <td><form action="/receipt"> x
                    <input type="number" value=<%="#{item.tr(" ", "_")}"%> name="quantity" min="1" max="100">
                  </form></td>
            </tr>
          <%end%>
          </table><br>
        
        <form>
          Your Name:
          <input type="text" name="customer"><br>
          <input type="submit" value="Submit">
        </form>
    </div>
  </body>

</html>
