<!DOCTYPE >
<html>
<head>
  <title></title>
</head>
  <body>
    <%@order.line_items.each do |k,v| %>
      <%="#{k.name} #{v.to_s} x #{k.price}"%><br>
    <%end%>

    
   
    Tax <%="#{@tax.to_s}"%><br>
    Total <%= "#{@calculator.total.to_s}"%>



    
    
  </body>
</html>
