<!DOCTYPE html>
<html class="index">
  <head>

    <title>Coffee</title>
     <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"> 
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <script src="js/respond.min.js"></script>

  </head>
  <body>
     <%= yield %>
     <script src="http://code.jquery.com/jquery-latest.min.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/menu.js"></script>
  </body>

  
</html>