<!DOCTYPE >
<html>
<head>
  <title></title>
</head>
  <body>
  
   <div class="col-md-3" id="menu">
    <h1> Menu </h1>
    <h4> Click Item to Order</h4>
        <table style="width:100%">
        <%@menu.items.each do |item, price|%>
          <tr>
            <td><button class="link"><%="#{item}"%></button></td>
            <td><%=price%></td> 
          </tr>
        <%end%>
      </div>
     
  </body>

</html>